
{% extends '../layout.html' %}

{% block title %}book{% endblock %}

{% block content %}
  <div class="login">
    <h1>登录</h1>
    <form>
        <div class="form-group">
            <label for="">用户名</label>
            <input type="text" name="username" placeholder="username">
        </div>
        <div class="form-group">
            <label for="">密码</label>
            <input type="password" name="password" placeholder="password">
        </div>
        <div class="form-submit">
            <input type="submit" value="登录">
        </div>
    </form>
  </div>
{% endblock %}